.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
    padding: 48px 0 96px;
}

.page-template .gh-article-header {
    margin-top: 0;
}

.page-template .gh-content:only-child>:first-child:not(.kg-width-full) {
    margin-top: 0;
}
